extends base.pug

block scripts
    script(type="module", src="/js/board.js")

block page
    //Load chessboard files and jquery dependancy
    link(rel="stylesheet", href="/chessboardjs-1.0.0/css/chessboard-1.0.0.min.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="/chessboardjs-1.0.0/js/chessboard-1.0.0.min.js")
    //Expose cooldown and piece speed variables
    script. 
        var cooldown= !{cooldown};
        var moveSpeed = !{moveSpeed};
    //-----------------------------------------------

    button(id="cooldown")= "cooldown"
    button(id="stop")= "stop"
    div(id="board", style="width: 600px")
    